/*
 * Main page layout, navigation bars, and footer
 */

 :root {
   --main-bg-color: #f0e6e1;
   --active-color: #2f9aef;
   --piano-color: #2f9aef;
   --guitar-color: #f0c229;
   --marimba-color: #f6843f;
   --bass-color: #ec5eb2;
   --drum-color: #86c44e;
   --header-bg-color: #2e303f;
   --mixer-track-pad: 15px;
   --error-color: #da575d;
   --main-font: Nunito, sans-serif;
 }

html, body { height: 100%; }

body {
  background-color: #fdfdfd;
  font-family: var(--main-font);
  font-weight: 200;
  margin: 0;
  overscroll-behavior: none;
}

main {
  padding-top: 80px;
  padding-left: 60px;
  background-color: var(--main-bg-color);
  min-height: 100%;
}

section#code-tab {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}


.dialog.help {
  width: 80%;
  margin-top: 50px;
  height: calc(100vh - 85px);
  text-align: left;
}

.dialog.help iframe {
  width: calc(100% - 15px);
  height: calc(100vh - 110px);
  border: none;
  outline: none;
}

section.hidden {
  display: none !important;
}

/*
 * LEFT SIDE NAV BAR
 */
.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 55px;
  height: 100%;
  background-color: #414251;
  z-index: 950;
}

.side-nav .tunepad-logo {
  width: 55px;
  height: 55px;
  margin-top: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  background-image: url('../images/logo_light.svg');
}

/*
 * TOP NAVIGATION BAR
 */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  color: #414251;
  background-color: #fdfdfd;
  z-index: 900;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 8px 20px 8px 80px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

@media only screen and (max-width: 1080px) {
  #change-bpm,
  #change-time-signature,
  #change-key,
  #master-clock,
  .separator.secondary {
    display: none;
  }
}

.top-nav .expander { flex: 1; }

.top-nav .menu-button {
  color: #999;
  font-size: 14px;
  font-family: var(--main-font);
  font-weight: 600;
  margin: 0 7px;
  padding: 8px 14px;
  border-radius: 5px;
}

.top-nav .project-name {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  color: #414251;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-nav .separator {
  border-left: 2px solid #bbc;
  height: 65%;
  margin: 0 15px;
}

#bpm, #time-signature, #key-base {
  color: #414251;
  font-size: 18px;
}

#change-bpm:hover,
#change-time-signature:hover,
#change-key:hover {
  text-decoration: underline;
}

#change-bpm:active,
#change-time-signature:active,
#change-key:active {
  color: #2f9af0;
  /* text-decoration: underline; */
}

#change-bpm:active #bpm,
#change-time-signature:active #time-signature,
#change-key:active #key-base {
  color: #2f9af0;
}


nav.side-nav .side-button {
  text-align: center;
  color: #fff9;
  font-size: 130%;
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  height: 45px;
  margin: 10px 0;
}
nav.side-nav .side-button:hover { color: #fff; }
nav.side-nav .side-button:active { color: #fff; }
nav.side-nav .side-button.hidden { display: none; }

#library-button {
  background-image: url('../images/library.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  opacity: 0.7;
}
#library-button:hover { opacity: 1.0; }

#userlist {
  margin: 50px 0;
  list-style: none;
  padding: 0;
  width: 100%;
}

#userlist li {
  text-align: center;
  font-size: 170%;
  margin: 15px auto;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
}

#userlist li.known {
  border-radius: 50%
}

#userlist li.known i {
  opacity: 0;
}

#master-clock {
  font-family: monospace;
  font-size: 16px;
  color: #999;
}

.top-nav .tabs {
  display: flex;
}

.top-nav .tabs button {
  flex: 1;
  color: #999;
  padding: 8px 14px;
  margin: 0 7px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: var(--main-font);
  font-weight: 600;
  background-color: transparent;
}
.top-nav .tabs button.selected,
.top-nav .tabs button:hover {
  background-color: #414251;
  color: #fdfdfd;
}
.top-nav .tabs button:active {
  background-color: #2f9af0;;
  color: #fdfdfd;
}

.top-nav .transport-button {
  color: #414251;
  padding: 8px 14px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}
.top-nav .transport-button:hover { color: #888; }
.top-nav .transport-button:active { color: #2f9af0; }

.top-nav .menu-button .context-menu {
  top: 25px;
  left: 0px;
  right: unset;
  width: 220px;
  max-height: 450px;
  overflow-y: scroll;
}

/*
 * CELL NAVIGATION BAR
 */
nav.cell-nav {
  width: 220px;
  position: fixed;
  top: 100px;
  height: calc(100% - 160px);
  overflow-y: hidden;
  right: 0;
  background-color: #fdfdfd;
  color: #414251;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  z-index: 800;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#add-cell-button {
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  height: 55px;
  background-color: transparent;
  border-top-left-radius: 8px;
  border-bottom: 1px solid #0002;
  padding-left: 20px;
  font-size: 13px;
  color: #666;
}
#add-cell-button .fas { font-size: 16px; margin-right: 0.7em; }
#add-cell-button:hover { background-color: #ddd; }
#add-cell-button:active { color: #2f9af0; }

.cell-list {
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
  margin-top: 0;
  height: calc(100% - 55px);
}

.cell-list li {
  display: flex;
  border-bottom: 1px solid #0002;
  padding: 1.0em 1.2em;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.shortcut-cell-name {
  border-left: 7px solid #2f9af0;
  height: 2.2em;
  line-height: 2.2em;
  padding-left: 1em;
  flex: 1;
  font-weight: 500;
  font-size: 14px;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-y: hidden;
}
.shortcut-cell-name.guitar { border-left-color: #f0c229; }
.shortcut-cell-name.bass { border-left-color: #ec5eb2; }
.shortcut-cell-name.marimba { border-left-color: #f6843f; }
.shortcut-cell-name.piano { border-left-color: var(--piano-color); }
.shortcut-cell-name.drums,
.shortcut-cell-name.drumkit { border-left-color: #86c44e; }
.shortcut-cell-name:hover { text-decoration: underline; }
.shortcut-cell-name:active { color: #2f9aef; }

.shortcut-play-button,
.shortcut-pause-button {
  border: none;
  outline: none;
  background-color: transparent;
}
.shortcut-play-button:hover, .shortcut-pause-button:hover { color: #888; }
.shortcut-play-button:active, .shortcut-pause-button:active { color: #2f9aef; }

.shortcut-error {
  font-size: 20px;
  line-height: 1.7em;
  color: #da575d;
  margin-left: 0.5em;
  position: absolute;
  right: 20px;
  background-color: #fdfdfd;
}
